@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .boxWidth {
    @apply w-full xl:max-w-[1280px];
  }
  .productIcon {
    @apply w-[40px] h-[40px] rounded-full bg-white flex items-center justify-center m-2 hover:bg-[#e9f5f5] hover:scale-125 transition-all duration-500 cursor-pointer;
  }
  .socialIcons {
    @apply w-[40px] h-[40px] rounded-full mr-10;
  }
  .footerSection {
    @apply flex-1 p-5;
  }
  .listItem {
    @apply w-[50%] mb-1;
  }
  .contactItem {
    @apply mb-4 flex items-center;
  }
  .select {
    @apply p-1 mr-1 bg-white border;
  }
  .filterColor {
    @apply w-[20px] h-[20px] rounded-full mx-1 cursor-pointer;
  }
  .input {
    @apply flex-1 min-w-[40%] mt-3 mr-2 p-2;
  }
  .loginLinks {
    @apply my-1 text-sm underline cursor-pointer;
  }
  .summaryItem {
    @apply my-3 flex justify-between;
  }
  .nav-link {
    @apply  hover:text-blue-500 hover:underline
  } 
  .nav-link-active {
    @apply active:underline 
  }
}

/* .nav-link:hover {
  text-decoration:underline;
  color:gray;
} 
.nav-link-active a:active {
text-decoration:underline
} */

.bgImage {
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.pexels.com/photos/6984661/pexels-photo-6984661.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
      center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bgLogin {
  background: 
    url("../src/images/pexels-photo-6984650.jpeg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

